# Ignorer les fichiers de configuration sensibles
conf/wp-config.php

# Exclure les fichiers du système
.DS_Store
Thumbs.db

# Exclure les logs & fichiers inutiles
logs/
*.log

# Exclure les fichiers temporaires de l'éditeur
*.swp
*.swo

# Ignorer les fichiers téléchargés (inutile dans l’image)
wp-content/uploads/